.todos-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
  }

  &__title {
    margin: 0;
    margin-left: 8px;
    align-self: center;
  }

  &__todos {
    height: 100%;
  }

  &__add-button {
    align-self: center;
  }
}

.todos {
  display: flex;
  flex-direction: row;

  &__list {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    gap: 8px;
    width: 200px;
    padding: 8px;
    border-right: 1px solid black;
    background-color: #EFEFEF;
  }

  &__todo-link-wrapper {
    min-height: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  &__todo-link {
    display: flex;
    width: 100%;
    padding: 8px;
  }

  &__todo-link-title {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
